@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/*Header*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 80px;
    background: rgba(red, green, blue, alpha);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0,);
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#navbar li{
    list-style: none;
    padding: 0 20px;

}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #7a7a7a;
    position: relative;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #214bbe;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 1px;

}

/*Home PAge*/

#hero{
  background-image: url("imgenes/3.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 32% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}

#hero h4{
  padding-bottom: 15px;  
}

#hero h1{
  color: #222;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0,);
  padding-bottom: 25px;
}

#hero h2{
  color: #222;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0,);
  padding-bottom: 35px;
}
#hero p{
  color: #222;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0,);
  padding-bottom: 45px;
  font-weight: 800  ;
}

#hero button{
  background-image: url("imgenes/button.png");
  background-color: transparent;
  color: #f2f0f0;
  border: 0;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 15px;
}
